@page "/RegistroPrioridades";
@page "/RegistroPrioridades/{PrioridadId:int}";
@rendermode InteractiveServer
@inject PrioridadesBLL PrioridadesBLL;

<EditForm Model="prioridad" OnValidSubmit="Guardar" FormName="prioridadForm">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Registro de Prioridades</h1>
        </div>
        <div class="card-body">
            @*Prioridad Id:*@
            <label>ID:</label>
            <div class="input-group">
                <InputNumber @bind-Value="prioridad.PrioridadId" class="id-input"></InputNumber>
                <button type="button" class="btn btn-primary" @onclick="Buscar"><i class="bi bi-search"></i> Buscar</button>
            </div>
            @*Descripción:*@
            <div>
                <br />
                <label class="form-label">Descripci&oacute;n:</label>
                <InputText @bind-Value="prioridad.Descripcion" class="form-control"></InputText>
                <ValidationMessage For="@(() => prioridad.Descripcion)" />
            </div>
            @*Días compromiso:*@
            <div>
                <br />
                <label class="form-label">D&iacute;as compromiso:</label>
                <InputNumber @bind-Value="prioridad.DiasCompromiso" class="input-group-sm"></InputNumber>
                <ValidationMessage For="@(() => prioridad.DiasCompromiso)" />
            </div>
        </div>
        <div class="card-footer ">
            <button type="button" class="btn btn-primary" @onclick="Nuevo"><i class="bi bi-file-earmark-plus-fill"></i> Nuevo</button>
            <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="bi bi-trash3"></i> Eliminar</button>
        </div>
    </div>
</EditForm>
<label><br/>@Mensaje</label>

@code {

    [Parameter]
    public int? prioridadId { get; set; }
    public Prioridades prioridad = new Prioridades();
    public string Mensaje { get; set; } = string.Empty;
    private bool descripcionExiste = false;

    protected override void OnInitialized()
    {
        if (prioridadId.HasValue)
        {
            prioridad.PrioridadId = prioridadId.Value;
            Buscar();
        }
    }
    public void Nuevo()
    {
        this.prioridad = new Prioridades();
        Mensaje = string.Empty;
        descripcionExiste = false;
    }
    public async Task Guardar()
    {
        if (!Validar() && await PrioridadesBLL.Guardar(this.prioridad))
        {
            Nuevo();
            Mensaje = "Se guardó correctamente la prioridad.";
        }
        else
        {
            Nuevo();
            Mensaje = "No se pudo guardar la prioridad. Intente nuevamente.";
        }
    }
    public async Task Eliminar()
    {
        if (await PrioridadesBLL.Eliminar(this.prioridad))
        {
            Nuevo();
            Mensaje = "Se eliminó correctamente la prioridad.";        }
        else
            Mensaje = "No se pudo eliminar la prioridad. Intente nuevamente.";
    }
    public async Task Buscar()
    {
        var prioridadEncontrada = await PrioridadesBLL.Buscar(prioridad.PrioridadId);
        if (prioridadEncontrada != null)
        {
            prioridad = prioridadEncontrada;
            Mensaje = String.Empty;
        }
        else
        {
            Nuevo();
            Mensaje = "No se encontró la prioridad. Ingrese un ID válido.";
        }
    }
    public bool Validar()
    {
        descripcionExiste = (PrioridadesBLL.Listar(p =>
            p.Descripcion!.ToLower() == prioridad.Descripcion!.ToLower()
            && p.PrioridadId != prioridad.PrioridadId).Any());

        return descripcionExiste;
    }
}