@page "/Sistemas"
@inject SistemaServices sistemaServices;

<PageTitle>Sistemas</PageTitle>

<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Sistemas</strong></h3>
			<div class="row">
				<div class="col-2">
					<a href="/CrearSistema" class="btn btn-success bi bi-file-earmark-diff-fill"> Crear</a>
				</div>
				<div class="col-2">
					<a href="/DetallesSistemas" class="btn btn-secondary bi bi-card-list"> Detalles</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var sistema in listaSistemas)
					{
						<tr>
							<td>@sistema.SistemaId</td>
							<td>@sistema.Nombre</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@code {
	public List<Sistemas> listaSistemas = new List<Sistemas>();

	protected override void OnInitialized()
	{
		Expression<Func<Sistemas, bool>> criterio = sistema => sistema.SistemaId > 0;
		listaSistemas = sistemaServices.Listar(criterio);
	}
}